In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

import asyncio
import sys

if sys.platform == 'win32':
    asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())

In [8]:
df = pd.read_csv(r"C:\Users\hillarik\desktop\MLzoomcamp\06 credit scoring\jamb_exam_results.csv")
df.head()

,JAMB_Score,Study_Hours_Per_Week,Attendance_Rate,Teacher_Quality,Distance_To_School,School_Type,School_Location,Extra_Tutorials,Access_To_Learning_Materials,Parent_Involvement,IT_Knowledge,Student_ID,Age,Gender,Socioeconomic_Status,Parent_Education_Level,Assignments_Completed
0,192,22,78,4,12.4,Public,Urban,Yes,Yes,High,Medium,1,17,Male,Low,Tertiary,2
1,207,14,88,4,2.7,Public,Rural,No,Yes,High,High,2,15,Male,High,NaN,1
2,182,29,87,2,9.6,Public,Rural,Yes,Yes,High,Medium,3,20,Female,High,Tertiary,2
3,210,29,99,2,2.6,Public,Urban,No,Yes,Medium,High,4,22,Female,Medium,Tertiary,1
4,199,12,98,3,8.8,Public,Urban,No,Yes,Medium,Medium,5,22,Female,Medium,Tertiary,1

In [9]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.head()

,jamb_score,study_hours_per_week,attendance_rate,teacher_quality,distance_to_school,school_type,school_location,extra_tutorials,access_to_learning_materials,parent_involvement,it_knowledge,student_id,age,gender,socioeconomic_status,parent_education_level,assignments_completed
0,192,22,78,4,12.4,Public,Urban,Yes,Yes,High,Medium,1,17,Male,Low,Tertiary,2
1,207,14,88,4,2.7,Public,Rural,No,Yes,High,High,2,15,Male,High,NaN,1
2,182,29,87,2,9.6,Public,Rural,Yes,Yes,High,Medium,3,20,Female,High,Tertiary,2
3,210,29,99,2,2.6,Public,Urban,No,Yes,Medium,High,4,22,Female,Medium,Tertiary,1
4,199,12,98,3,8.8,Public,Urban,No,Yes,Medium,Medium,5,22,Female,Medium,Tertiary,1

In [10]:
df = df.drop(columns=['student_id'], errors='ignore')
df = df.fillna(0)

In [11]:
df.head()

,jamb_score,study_hours_per_week,attendance_rate,teacher_quality,distance_to_school,school_type,school_location,extra_tutorials,access_to_learning_materials,parent_involvement,it_knowledge,age,gender,socioeconomic_status,parent_education_level,assignments_completed
0,192,22,78,4,12.4,Public,Urban,Yes,Yes,High,Medium,17,Male,Low,Tertiary,2
1,207,14,88,4,2.7,Public,Rural,No,Yes,High,High,15,Male,High,0,1
2,182,29,87,2,9.6,Public,Rural,Yes,Yes,High,Medium,20,Female,High,Tertiary,2
3,210,29,99,2,2.6,Public,Urban,No,Yes,Medium,High,22,Female,Medium,Tertiary,1
4,199,12,98,3,8.8,Public,Urban,No,Yes,Medium,Medium,22,Female,Medium,Tertiary,1

In [12]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [13]:
y_train = df_train['jamb_score'].values
y_val = df_val['jamb_score'].values
y_test = df_test['jamb_score'].values

X_train = df_train.drop(columns='jamb_score')
X_val = df_val.drop(columns='jamb_score')
X_test = df_test.drop(columns='jamb_score')

In [14]:
del df_train['jamb_score']
del df_val['jamb_score']
del df_test['jamb_score']

df_train

,study_hours_per_week,attendance_rate,teacher_quality,distance_to_school,school_type,school_location,extra_tutorials,access_to_learning_materials,parent_involvement,it_knowledge,age,gender,socioeconomic_status,parent_education_level,assignments_completed
4740,20,72,3,4.4,Public,Urban,No,Yes,Medium,Low,21,Female,Low,0,3
1452,11,80,2,3.3,Public,Urban,Yes,Yes,Medium,High,22,Female,Medium,Secondary,1
2846,31,82,1,8.3,Public,Urban,Yes,Yes,Low,High,19,Female,High,Tertiary,2
4670,29,79,1,15.8,Public,Rural,Yes,Yes,Low,Low,19,Male,Low,Primary,2
168,28,96,2,8.9,Private,Rural,Yes,Yes,Medium,Low,19,Male,High,Secondary,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,1,79,3,12.2,Public,Urban,No,No,Low,High,17,Male,High,Secondary,1
1366,3,87,1,9.6,Public,Urban,No,No,Medium,Medium,17,Male,Medium,Primary,1
753,17,96,4,13.7,Private,Urban,No,Yes,High,Medium,16,Male,Medium,Primary,2
4990,25,74,2,3.4,Public,Rural,No,No,High,High,21,Male,Low,Secondary,1
357,18,67,2,10.5,Public,Urban,Yes,Yes,Low,Medium,17,Female,High,Secondary,1

In [15]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=True)
X_train = dv.fit_transform(X_train.to_dict(orient='records'))
X_val = dv.transform(X_val.to_dict(orient='records'))
X_test = dv.transform(X_test.to_dict(orient='records'))

QUESTION ONE

In [16]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor(max_depth=1, random_state=1)
dt.fit(X_train, y_train)

# Get the feature used for splitting
feature_used = dv.feature_names_[dt.tree_.feature[0]]
print("Feature used for splitting:", feature_used)

Feature used for splitting: study_hours_per_week

QUESTION 2

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

rf = RandomForestRegressor(n_estimators=10, random_state=1, n_jobs=-1)
rf.fit(X_train, y_train)

y_pred = rf.predict(X_val)
rmse = np.sqrt(mean_squared_error(y_val, y_pred))
print("RMSE:", rmse)

RMSE: 42.13724207871227

QUESTION 3

In [18]:
scores = []

for n in range(10, 201, 10):
    rf = RandomForestRegressor(n_estimators=n, random_state=1, n_jobs=-1)
    rf.fit(X_train, y_train)
    
    y_pred = rf.predict(X_val)
    rmse = round(np.sqrt(mean_squared_error(y_val, y_pred)), 3)
    scores.append((n, rmse))

    print(f"n: {n}, rmse: {rmse:.3f}")

print(scores)

n: 10, rmse: 42.137
n: 20, rmse: 41.461
n: 30, rmse: 41.106
n: 40, rmse: 40.917
n: 50, rmse: 40.852
n: 60, rmse: 40.784
n: 70, rmse: 40.677
n: 80, rmse: 40.539
n: 90, rmse: 40.504
n: 100, rmse: 40.517
n: 110, rmse: 40.593
n: 120, rmse: 40.625
n: 130, rmse: 40.651
n: 140, rmse: 40.595
n: 150, rmse: 40.597
n: 160, rmse: 40.604
n: 170, rmse: 40.628
n: 180, rmse: 40.641
n: 190, rmse: 40.631
n: 200, rmse: 40.601
[(10, 42.137), (20, 41.461), (30, 41.106), (40, 40.917), (50, 40.852), (60, 40.784), (70, 40.677), (80, 40.539), (90, 40.504), (100, 40.517), (110, 40.593), (120, 40.625), (130, 40.651), (140, 40.595), (150, 40.597), (160, 40.604), (170, 40.628), (180, 40.641), (190, 40.631), (200, 40.601)]

QUESTION 4

In [ ]:
scores = []
for d in [10, 15, 20, 25]:
    for n in range(10,201,10):
        rf = RandomForestRegressor(n_estimators=n, max_depth=d, random_state=1)
        rf.fit(X_train, y_train)
        
        y_pred = rf.predict(X_val)
        rmse = round(np.sqrt(mean_squared_error(y_val, y_pred)), 3)
scores.append((n, d, rmse))
        #print(f"d: {d}, n: {n}, rmse: {rmse:.3f}")

In [ ]:
columns = ['n_estimators','max_depth', 'rmse']
df_scores = pd.DataFrame(scores, columns=columns)

In [ ]:
for d in [10, 15, 20, 25]:
    df_subset = df_scores[df_scores.max_depth == d]

    plt.plot(df_subset.n_estimators, df_subset.rmse,
             label='max_depth=%d' % d)

    plt.legend()

QUESTION 5

In [ ]:
rf = RandomForestRegressor(n_estimators=10, max_depth=20, random_state=1)
rf.fit(X_train, y_train)

# Get feature importances
importances = rf.feature_importances_
most_important_feature = dv.get_feature_names_out()[np.argmax(importances)]
print("Most important feature:", most_important_feature)

QUESTION 6

In [ ]:
import xgboost as xgb


dtrain = xgb.DMatrix(X_train, label=y_train)
dval = xgb.DMatrix(X_val, label=y_val)

In [ ]:
# Train with eta = 0.3
xgb_params = {
    'eta': 0.3,
    'max_depth': 6,
    'min_child_weight': 1,
    'objective': 'reg:squarederror',
    'nthread': 8,
    'seed': 1,
    'verbosity': 1,
}
watchlist = [(dtrain, 'train'), (dval, 'val')]

# Train the model
model = xgb.train(xgb_params, dtrain, num_boost_round=200, 
                  verbose_eval=5, evals=watchlist)

In [ ]:
# Train with eta = 0.1
xgb_params['eta'] = 0.1
model_0_1 = xgb.train(xgb_params, dtrain, num_boost_round=100)

In [ ]:
from your_module_name import parse_xgb_output
key = f"eta={xgb_params['eta']}"
scores[key] = parse_xgb_output(output)

In [ ]:

for eta, df_score in scores.items():
    plt.plot(df_score.num_iter, df_score.val_rmse, label=eta)

plt.legend()